.notcandy1 {
  width: 100%;
}

.bold {
  font-weight: 900;
  color: white;
}

html {
  background-color: #3b2416;
  color: #fbb041;
}

.unita {
  position: relative;
  margin: 0 auto;
}

.unit1, .unit2 {
  font-family: arvo;
}


.st0 {fill:#F89521;stroke:#FFFFFF;stroke-width:1.2543;stroke-miterlimit:10;
  }

.st1 {fill:#FFFFFF;stroke:#FFFFFF;stroke-miterlimit:10;
}
