.notcandy1 {
  width: 100%;
}

.bold {
  font-weight: 800;
  color: white;
}

html {
  background-color: #3b2416;
  color: #fbb041;
}

.unita {
  position: relative;
  margin: 0 auto;
}

.unit1 {
  font: Creepster;
}
